Install Python 2.7 on Mac OSX

$brew install python

You need to update the python2 installation path in the configuration file 
if it is different from the default path. 


Python Dependency Requirements for TAA-Demo:

numpy==1.11.0
networkx==1.11
nltk==3.2
scikit-learn==0.17.1
scipy==0.13.2
SPARQLWrapper==1.5.2
gfortran
sematch
nltk_data


Install a Python Dependency 
(e.g. numpy, networkx ...)

$pip install dependency_name


Install Sematch
Sematch provides a Python framework which implements many state-of-art concept-to-concept similarity metrics, 
and also a word-to-word similarity wrapper which is based on one given concept-to-concept metric. 
More details see https://github.com/gsi-upm/sematch

$pip install sematch
$python -m sematch.download


Install NLTK Data

Run the Python interpreter and type the commands:
>>> import nltk
>>> nltk.download()

